<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="de.codingrockstar.bluetoothHelper"
      version="0.1.0">
    <name>BluetoothHelper</name>
    <description>Helper-Plugin for checking Bluetooth-Status</description>
    <license>GPL v2</license>
    <keywords>phonegap,ios,bluetooth</keywords>
 
 
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BluetoothHelper">
                <param name="ios-package" value="BluetoothHelper" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <js-module src="www/bluetoothhelper.js" name="BluetoothHelper">
            <clobbers target="BluetoothHelper" />
        </js-module>
        <header-file src="src/ios/BluetoothHelper.h" />
        <source-file src="src/ios/BluetoothHelper.m" />
    </platform>
</plugin>